<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Listado Facturas</ion-title>
    <ion-title size="small" (click)="goBack()" slot="end">{{this.nombre}}</ion-title>

  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons>
      <ion-searchbar #input showCancelButton="focus" debounce="500" (ionInput)="this.filtrarFacturas($event)"
        placeholder="Buscar"></ion-searchbar>
      <ion-button style="height: 2px;" (click)="presentPopover($event)">
        <div class="icon-container">
          <ion-icon style="position: relative; font-weight: bold; font-size: 1.5em;" name="funnel"></ion-icon>
          <ion-badge *ngIf="this.filtros.nFiltrosAplicados > 0 "
            class="badge">{{this.filtros.nFiltrosAplicados}}</ion-badge>
        </div>
      </ion-button>
    </ion-buttons>
    <ion-progress-bar *ngIf="this.consultaRealizada == false" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>

    <ion-card *ngFor="let factura of this.facturas" class="{{this.comprobarFactura(factura)}}">
      <ion-item>
        <p class="title titleSize">Número: </p>
        <p class="paddingL">{{factura.num}}</p>
      </ion-item>
      <div *ngIf="factura.numpro!=undefined || factura.numpro!=null">
        <ion-item>
          <p class="title titleSize">Factura Proveedor: </p>
          <p class="paddingL">{{factura.numpro}}</p>
        </ion-item>
      </div>
      <ion-item>
        <p class="title titleSize">Fecha Factura: </p>
        <p class="paddingL">{{factura.fee2}} </p>
      </ion-item>
      <ion-item>
        <p class="title titleSize">Total Base: </p>
        <p class="paddingL">{{factura.basmon}}€</p>
      </ion-item>
      <ion-item>
        <p class="title titleSize">Total Impuesto: </p>
        <p class="paddingL">{{factura.totimpu}}€</p>
      </ion-item>
      <ion-item>
        <p class="title titleSize">Total Factura: </p>
        <p class="paddingL">{{factura.totmon}}€</p>
      </ion-item>
      <ion-item>
        <p class="title titleSize">COBRADO :</p>
        <p class="paddingL">{{factura.toceu}}€</p>
      </ion-item>
      <ion-item>
        <p class="title titleSize">PENDIENTE: </p>
        <p class="paddingL">{{factura.impend}}€</p>
      </ion-item>

      <ion-button *ngIf="factura.pdf !='0'" class="pdfBtn" expand="full">PDF
        <ion-icon style="padding-left: 5px;" src="../../../assets/imgs/pdf.svg"></ion-icon>
      </ion-button>
    </ion-card>

  </ion-list>
  @if(hayMasFacturas){
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content loadingText="Cargando Facturas..."
      loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  }

</ion-content>

<ion-footer >
  <ion-toolbar style="border-top:1px solid gray">
    <ion-title>Total: {{this.importeFacturas}}€</ion-title>
  </ion-toolbar>
</ion-footer>