<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Listado Facturas</ion-title>
    <ion-title size="small" (click)="goBack()" slot="end">{{this.nombre}}</ion-title>

  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons>
      <ion-searchbar #input showCancelButton="focus" debounce="500" (ionInput)="this.filtrarFacturas($event)"
        placeholder="Buscar"></ion-searchbar>
      <ion-button style="height: 2px;" (click)="presentPopover($event)">
        <div class="icon-container">
          <ion-icon style="position: relative; font-weight: bold; font-size: 1.5em;" name="funnel"></ion-icon>
          <ion-badge *ngIf="this.filtros.nFiltrosAplicados > 0 "
            class="badge">{{this.filtros.nFiltrosAplicados}}</ion-badge>
        </div>
      </ion-button>
    </ion-buttons>
    <ion-progress-bar *ngIf="this.consultaRealizada == false" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>

    <ion-card *ngFor="let factura of this.facturas" class="cardBorder">

      <ion-grid [fixed]="true">
        <ion-row class="row_icon">
          <ion-col>
            <ion-icon src="assets/imgs/bill.svg" />
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="divider">DATOS FACTURA</div>
      <ion-grid [fixed]="true">
        <ion-row class="row_titulos">
          <ion-col>Nº Factura</ion-col>
          <ion-col *ngIf="factura.numpro!=undefined || factura.numpro!=null">Nº Fac. Proveedor</ion-col>
          <ion-col>Fecha</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>{{factura.num}}</ion-col>
          <ion-col *ngIf="factura.numpro!=undefined || factura.numpro!=null">{{factura.numpro}}</ion-col>
          <ion-col>{{factura.fee2}}</ion-col>
        </ion-row>
      </ion-grid>

      <div class="divider">IMPORTES</div>
      <ion-grid [fixed]="true">
        <ion-row class="row_titulos">
          <ion-col>Base Imp.</ion-col>
          <ion-col>Impuestos</ion-col>
          <ion-col>Total</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>{{this.formatearNumero(factura.basmon)}}€</ion-col>
          <ion-col>{{this.formatearNumero(factura.totimpu)}}€</ion-col>
          <ion-col>{{this.formatearNumero(factura.totmon)}}€</ion-col>
        </ion-row>
        <ion-row class="row_titulos">
          <ion-col>Cobrado</ion-col>
          <ion-col>Pendiente</ion-col>
        </ion-row>
        <ion-row class="{{this.comprobarFactura(factura)}}">
          <ion-col>{{this.formatearNumero(factura.toceu)}}€</ion-col>
          <ion-col>{{this.formatearNumero(factura.impend)}}€</ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-card>

  </ion-list>
  @if(hayMasFacturas){
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content loadingText="Cargando Facturas..."
      loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  }

</ion-content>

<ion-footer>
  <ion-toolbar style="border-top:1px solid gray">
    <ion-title>Total: {{this.formatearNumero(this.importeFacturas)}}€</ion-title>
  </ion-toolbar>
</ion-footer>