<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="padding-left:0 ;">Resumen mensual de ventas</ion-title>
    <ion-title size="small" slot="end">{{this.nom}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>

    <p slot="end" style="padding: 0px !important; margin: 0px !important;" class="title">{{this.iva}}</p>
    <ion-button slot="end" class="btn" style="height: 70px;width: 70px;margin: 10px;" (click)="openSelectIva()">
      <ion-icon class="titleCliente" size="large" src="../../../assets/imgs/sales.svg"></ion-icon>
    </ion-button>
    <ion-select class="hideElement" [(ngModel)]="this.iva" interface="action-sheet" #mySelectIva>
      <ion-select-option value="Con Iva">Con IVA</ion-select-option>
      <ion-select-option value="Sin Iva">Sin IVA</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button class="btn" expand="block" (click)="accion1()">Trismetre 1</ion-button>

  <ion-card *ngIf="ocultar1">
    <ion-card-content *ngIf="this.iva=='Sin Iva'">
      Enero: {{resumen.meses1[0].enero}}
    </ion-card-content>
    <ion-card-content *ngIf="this.iva=='Con Iva'">
      Enero: {{resumen.meses1iva[0].eneroiva}}
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="ocultar1">
    <ion-card-content *ngIf="this.iva=='Sin Iva'">
      Febrero: {{resumen.meses1[0].febrero}}
    </ion-card-content>
    <ion-card-content *ngIf="this.iva=='Con Iva'">
      Febrero: {{resumen.meses1iva[0].febreroiva}}
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="ocultar1">
    <ion-card-content *ngIf="this.iva=='Sin Iva'">
      Marzo: {{resumen.meses1[0].marzo}}
    </ion-card-content>
    <ion-card-content *ngIf="this.iva=='Con Iva'">
      Marzo: {{resumen.meses1iva[0].marzoiva}}
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="ocultar1">
    <ion-card-content *ngIf="this.iva=='Sin Iva'">
      Total: {{this.resumen.trim1}}
    </ion-card-content>
    <ion-card-content *ngIf="this.iva=='Con Iva'">
      Total: {{resumen.trim1iva}}
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" expand="block" (click)="accion2()"> Trismetre 2</ion-button>
  <ion-card *ngIf="ocultar2">
    <ion-card-content *ngIf="this.iva=='Sin Iva'">
      Abril: {{resumen.meses2[0].abril}}
    </ion-card-content>
    <ion-card-content *ngIf="this.iva=='Con Iva'">
      Abril: {{resumen.meses2iva[0].abriliva}}
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="ocultar2">
    <ion-card-content *ngIf="this.iva=='Sin Iva'">
      Mayo: {{resumen.meses2[0].mayo}}
    </ion-card-content>
    <ion-card-content *ngIf="this.iva=='Con Iva'">
      Mayo: {{resumen.meses2iva[0].mayoiva}}
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="ocultar2">
    <ion-card-content *ngIf="this.iva=='Sin Iva'">
      Junio: {{resumen.meses2[0].junio}}
    </ion-card-content>
    <ion-card-content *ngIf="this.iva=='Con Iva'">
      Junio: {{resumen.meses2iva[0].junioiva}}
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="ocultar2">
    <ion-card-content *ngIf="this.iva=='Sin Iva'">
      Total: {{this.resumen.trim2}}
    </ion-card-content>
    <ion-card-content *ngIf="this.iva=='Con Iva'">
      Total: {{resumen.trim2iva}}
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" expand="block" (click)="accion3()"> Trismetre 3 </ion-button>
  <ion-card *ngIf="ocultar3">
    <ion-card-content *ngIf="this.iva=='Sin Iva'">
      Julio: {{resumen.meses3[0].julio}}
    </ion-card-content>
    <ion-card-content *ngIf="this.iva=='Con Iva'">
      Julio: {{resumen.meses3iva[0].julioiva}}
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="ocultar3">
    <ion-card-content *ngIf="this.iva=='Sin Iva'">
      Agosto: {{resumen.meses3[0].agosto}}
    </ion-card-content>
    <ion-card-content *ngIf="this.iva=='Con Iva'">
      Agosto: {{resumen.meses3iva[0].agostoiva}}
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="ocultar3">
    <ion-card-content *ngIf="this.iva=='Sin Iva'">
      Septiembre: {{resumen.meses3[0].septiembre}}
    </ion-card-content>
    <ion-card-content *ngIf="this.iva=='Con Iva'">
      Septiembre: {{resumen.meses3iva[0].septiembreiva}}
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="ocultar3">
    <ion-card-content *ngIf="this.iva=='Sin Iva'">
      Total: {{this.resumen.trim3}}
    </ion-card-content>
    <ion-card-content *ngIf="this.iva=='Con Iva'">
      Total: {{resumen.trim3iva}}
    </ion-card-content>
  </ion-card>

  <ion-button class="btn" expand="block" (click)="accion4()"> Trismetre 4</ion-button>
  <ion-card *ngIf="ocultar4">
    <ion-card-content *ngIf="this.iva=='Sin Iva'">
      Octubre: {{resumen.meses4[0].octubre}}
    </ion-card-content>
    <ion-card-content *ngIf="this.iva=='Con Iva'">
      Octubre: {{resumen.meses4iva[0].octubreiva}}
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="ocultar4">
    <ion-card-content *ngIf="this.iva=='Sin Iva'">
      Noviembre: {{resumen.meses4[0].noviembre}}
    </ion-card-content>
    <ion-card-content *ngIf="this.iva=='Con Iva'">
      Noviembre: {{resumen.meses4iva[0].noviembreiva}}
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="ocultar4">
    <ion-card-content *ngIf="this.iva=='Sin Iva'">
      Diciembre: {{resumen.meses4[0].diciembre}}
    </ion-card-content>
    <ion-card-content *ngIf="this.iva=='Con Iva'">
      Diciembre: {{resumen.meses4iva[0].diciembreiva}}
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="ocultar4">
    <ion-card-content *ngIf="this.iva=='Sin Iva'">
      Total: {{this.resumen.trim4}}
    </ion-card-content>
    <ion-card-content *ngIf="this.iva=='Con Iva'">
      Total: {{resumen.trim4iva}}
    </ion-card-content>
  </ion-card>
</ion-content>

<!--Total ERROR 
<ion-footer >
  <ion-toolbar *ngIf="this.resumen.total != undefined && this.iva=='Sin Iva'" style="--background: #6d226d;color: #ffffff !important;">
    <ion-title>TOTAL: {{this.resumen.total}}€</ion-title>
  </ion-toolbar>
  
  <ion-toolbar *ngIf="this.resumen.totaliva != undefined && this.iva=='Con Iva'" style="--background: #6d226d;color: #ffffff !important;">
    <ion-title>TOTAL: {{this.resumen.totaliva}}€</ion-title>
  </ion-toolbar>
</ion-footer>-->