<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="display: block !important;padding:0px !important; font-size:100%; margin: 0px !important;">Listado Facturas</ion-title>
    <ion-title size="small" style="padding: 0px !important; margin: 10px !important;"  slot="end">{{this.nom}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item >
    <ion-item class="ion-no-padding">
  <ion-button  slot="start" class="btn" style="height: 70px;width: 70px; margin: 10px;" (click)="openSelectTipo()">
    <ion-icon class="titleCliente" size="large" src="../../../assets/imgs/bill.svg"></ion-icon>
  </ion-button>
  <p style="display: block !important;padding: 0px !important; margin: 0px !important;" class="title">{{this.tipoFactura}}</p>
</ion-item>
  <ion-select class="hideElement " [(ngModel)]="this.tipoFactura" (ionChange)="this.filtro()" interface="action-sheet"
    #mySelectTipo>
    <ion-select-option value="Todas">Todas</ion-select-option>
    <ion-select-option value="Cobradas">Cobradas</ion-select-option>
    <ion-select-option value="Pendientes">Pendientes</ion-select-option>
  </ion-select>
  <p slot="end"  style="padding: 0px !important; margin: 0px !important;" class="title">{{this.fechaFactura}}</p>
  <ion-button slot="end" class="btn" style="height: 70px;width: 70px; margin: 10px;" (click)="openSelectFecha()">
    <ion-icon class="titleCliente" size="large" name="calendar-outline"></ion-icon>
  </ion-button>
  <ion-select class="hideElement " [(ngModel)]="this.fechaFactura" (ionChange)="this.filtro()" interface="action-sheet"
    #mySelectFecha>
    <ion-select-option value="Hoy">Hoy</ion-select-option>
    <ion-select-option value="Semana">Semana</ion-select-option>
    <ion-select-option value="Mes">Mes</ion-select-option>
    <ion-select-option value="Año">Año</ion-select-option>
    <ion-select-option value="Todo">Todo</ion-select-option>
  </ion-select>
</ion-item>
  <ion-list>
    <ion-item [style]="this.comprobarFactura(factura)" (click)="this.vistaFactura(factura)" *ngFor="let factura of this.facAux">
      <ion-item [style]="this.comprobarFactura(factura)">
        <div>
          <h1>{{factura.fee2}}-{{factura.num}}-{{factura.totmon}}€</h1>
        </div>
        <ion-icon color="#FFF" slot="end" name="eye-outline"></ion-icon>
      </ion-item>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer >
  <ion-toolbar style="--background: #6d226d;color: #ffffff !important;">
    <ion-title>TOTAL: {{this.total2}}€</ion-title>
  </ion-toolbar>
</ion-footer>