.divider {
    font-size: larger;
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.divider::before,
.divider::after {
    flex: 1;
    content: '';
    padding: 1px;
    background-color: #6d226d;
    margin: 7px;
    border-radius: 15px;
}

ion-grid {
    --ion-grid-column-padding: 10px;
    border-collapse: collapse;
    border-style: hidden;

    ion-col {
        text-align: center;
        font-size: larger;
        color: black;
        margin: 1px;
        border-radius: 5px;
    }

    .row_icon ion-col {
        border: none;
    }

    .row_icon ion-col ion-icon {
        font-size: 100px;
        color: #6d226d;
    }

    .row_separador ion-col {
        color: white !important;
        background-color: black;
    }

    .row_titulos ion-col {
        color: white !important;
        background-color: #6d226d;
    }

    .rowBackgroundRed ion-col {
        color: white !important;
        background-color: red;
    }

    .rowBackgroundGray ion-col {
        color: white !important;
        background-color: gray;
    }

    .rowBackgroundGreen ion-col {
        color: white !important;
        background-color: #73DF67;
    }

    .rowBackgroundOrange ion-col {
        color: white !important;
        background-color: #EB612F;
    }

    .rowBackgroundCian ion-col {
        color: white !important;
        background-color: #50BEF3;
    }

    .col_footer_title {
        background-color: #6d226d;
        color: white;
    }

}

.cardBorder {
    border: 1px solid gray;
}

/* Estilos para el footer */

.footer-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Dos columnas para los dos totales */
    grid-template-rows: auto;
    /* Ajustar automáticamente la altura de las filas */
}

.total {
    font-weight: bold;
}

.variable {
    margin-left: 10px;
    /* Ajustar el margen izquierdo entre el nombre y el valor */
}


@media (prefers-color-scheme: dark) {
    .divider {
        font-size: larger;
        color: white;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .divider::before,
    .divider::after {
        flex: 1;
        content: '';
        padding: 1px;
        background-color: #6d226d;
        margin: 7px;
        border-radius: 15px;
    }

    ion-grid {
        --ion-grid-column-padding: 10px;
        border-collapse: collapse;
        border-style: hidden;

        ion-col {
            text-align: center;
            font-size: larger;
            color: white;
            margin: 1px;
            border-radius: 5px;
        }

        .row_icon ion-col {
            border: none;
        }

        .row_icon ion-col ion-icon {
            font-size: 100px;
            color: #6d226d;
        }

        .row_separador ion-col {
            color: white !important;
            background-color: black;
        }

        .row_titulos ion-col {
            color: white !important;
            background-color: #6d226d;
        }

        .rowBackgroundRed ion-col {
            color: white !important;
            background-color: red;
        }

        .rowBackgroundGray ion-col {
            color: white !important;
            background-color: gray;
        }

        .rowBackgroundGreen ion-col {
            color: white !important;
            background-color: #73DF67;
        }

        .rowBackgroundOrange ion-col {
            color: white !important;
            background-color: #EB612F;
        }

        .rowBackgroundCian ion-col {
            color: white !important;
            background-color: #50BEF3;
        }

        .col_footer_title {
            background-color: #6d226d;
            color: white;
        }

    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        padding: 0 16px;
    }

    .total {
        flex: 1;
        text-align: left;
        font-weight: bold;
    }

    .variable {
        flex: 1;
        text-align: right;
    }


}