<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Datos del Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="this.cliente != null || this.cliente != undefined ">
    <p class="title titleSize">Código:</p>
    <p class="paddingL">{{this.cliente.cod}}</p>
  </ion-item>
  <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
    <p class="title titleSize">Nombre:</p>
    <p class="paddingL">{{this.cliente.nom}}</p>
  </ion-item>
  <ion-item>
    <p class="title titleSize">Subnombre:</p>
    <div *ngIf="this.cliente != null || this.cliente != undefined">
      <p class="paddingL">{{this.cliente.sno}}</p>
    </div>
  </ion-item>
  <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
    <p class="title titleSize">Dirección:</p>
    <p class="paddingL">{{this.cliente.dir}}</p>
  </ion-item>
  <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
    <p class="title titleSize">Población:</p>
    <p class="paddingL">{{this.cliente.pob}}</p>
  </ion-item>
  <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
    <p class="title titleSize">Provincia:</p>
    <p class="paddingL">{{this.cliente.npro}} - {{this.cliente.pro}}</p>
  </ion-item>
  <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
    <p class="title titleSize">N.I.F:</p>
    <p class="paddingL">{{this.cliente.nif}}</p>
  </ion-item>
  <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
    <p class="title titleSize">Teléfono 1º:</p>
    <p class="paddingL">{{this.cliente.te1}}</p>
    <ion-button size="" [disabled]="this.valid(this.cliente.te1)" class="btn btn_margin" (click)='callNumber(this.cliente.te1)' slot="end">
      <ion-icon name="call-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
    <p class="title titleSize">Teléfono 2º:</p>
    <p class="paddingL">{{this.cliente.te2}}</p>
    <ion-button size="" [disabled]="this.valid(this.cliente.te2)" class="btn btn_margin" (click)='callNumber(this.cliente.te2)' slot="end">
      <ion-icon name="call-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
    <p class="title titleSize">Móvil:</p>
    <p class="paddingL">{{this.cliente.mov}}</p>
    <ion-button size="" [disabled]="this.valid(this.cliente.mov)" class="btn btn_margin" (click)='callNumber(this.cliente.mov)' slot="end">
      <ion-icon name="call-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
    <p class="title titleSize">Fax:</p>
    <p class="paddingL">{{this.cliente.fax}}</p>
  </ion-item>
  <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
    <p class="title titleSize">E-Mail:</p>
    <ion-button size="" [disabled]="this.valid(this.cliente.xxx)" class="btn btn_margin" (click)='mailto(this.cliente.xxx)' slot="end">
      <ion-icon name="mail-outline"></ion-icon>
    </ion-button>
    <p class="paddingL">{{this.cliente.xxx}}</p>
  </ion-item>
  <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
    <p class="title titleSize">Página Web:</p>
    <p class="paddingL">{{this.cliente.web}}</p>
    <ion-button size="" [disabled]="this.valid(this.cliente.web)" class="btn btn_margin" (click)='web(this.cliente.web)' slot="end">
      <ion-icon name="globe-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item>
    <p class="title titleSize">Actividad:</p>
    <div *ngIf="this.cliente != null || this.cliente != undefined">
      <p class="paddingL">{{this.cliente.actividad}}</p>
    </div>
  </ion-item>
  <ion-item>
    <p class="title titleSize">Tipo Cliente:</p>
    <div *ngIf="this.cliente != null || this.cliente != undefined">
      <p class="paddingL">{{this.cliente.tip_crm}}</p>
    </div>
  </ion-item>
  <ion-item>
    <p class="title titleSize">Fecha Tipo:</p>
    <div *ngIf="this.cliente != null || this.cliente != undefined">
      <p class="paddingL">{{this.fechaTipo}}</p>
    </div>
  </ion-item>
  <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
    <p class="title titleSize">Observaciones:</p>
    <p class="paddingL">{{this.cliente.ob1}}</p>
    <p class="paddingL">{{this.cliente.ob2}}</p>
  </ion-item>
  <ion-item class="ion-text-center title titleCliente">
    <ion-label>Persona De Contacto</ion-label>
  </ion-item>
  <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
    <p class="title titleSize">Nombre:</p>
    <p class="paddingL">{{this.cliente.per}}</p>
  </ion-item>
  <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
    <p class="title titleSize">Cargo:</p>
    <p class="paddingL">{{this.cliente.car}}</p>
  </ion-item>
  <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
    <p class="title titleSize">Telefono:</p>
    <p class="paddingL">{{this.cliente.ter}}</p>
    <ion-button size="" [disabled]="this.valid(this.cliente.ter)" class="btn btn_margin" (click)='callNumber(this.cliente.ter)' slot="end">
      <ion-icon name="call-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
    <p class="title titleSize">Extensión:</p>
    <p class="paddingL">{{this.cliente.ext}}</p>
  </ion-item>

  <div>
    <ion-item class="ion-text-center title titleCliente">
      <ion-label>Datos Comerciales</ion-label>
    </ion-item>
    <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
      <p class="title titleSize">Ruta Venta:</p>
      <p class="paddingL">
        {{this.cliente.rut}}
      </p>
    </ion-item>
    <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
      <p class="title titleSize">Agente:</p>
      <p class="paddingL">
        {{this.cliente.age}}
      </p>
    </ion-item>
  </div> 
  <ion-item class="ion-text-center title titleCliente">
    <ion-label>Impuestos</ion-label>
  </ion-item>
  <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
    <p class="title titleSize">Tipo I.V.A:</p>
    <p class="paddingL" *ngIf="this.cliente.red=='N'">NORMAL</p>
    <p class="paddingL" *ngIf="this.cliente.red=='E'">EXENTO</p>
    <p class="paddingL" *ngIf="this.cliente.red=='S'">REDUCCIÓN</p>
  </ion-item>
  <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
    <p class="title titleSize">Tipo Venta:</p>
    <p class="paddingL" *ngIf="this.cliente.ivainc=='N'">BASE IMPONILE + I.V.A.</p>
    <p class="paddingL" *ngIf="this.cliente.ivainc=='S'">I.V.A. INCLUIDO</p>
  </ion-item>
  <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
    <p class="title titleSize">Rec.Equivalen.:</p>
    <p class="paddingL" *ngIf="this.cliente.req=='N'; else elseBlock">NO</p>
    <ng-template #elseBlock>
      <p class="paddingL">SI</p>
    </ng-template>
  </ion-item>
  <div>
    <ion-item class="ion-text-center title titleCliente">
      <ion-label>Configuración de la venta</ion-label>
    </ion-item>
    <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
      <p class="title titleSize">Retención:</p>
      <p class="paddingL" *ngIf="this.cliente.tre==0">NO HAY - {{this.cliente.ret}}</p>
      <p class="paddingL" *ngIf="this.cliente.tre==1">SOBRE LA BASE - {{this.cliente.ret}}</p>
      <p class="paddingL" *ngIf="this.cliente.tre==2">SOBRE EL TOTAL - {{this.cliente.ret}}</p>
    </ion-item>
    <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
      <p class="title titleSize">%Descuentos:</p>
      <p class="paddingL">{{this.cliente.dto}} - {{this.cliente.dt2}}</p>
    </ion-item>
    <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
      <p class="title titleSize">Tarifa:</p>
      <p class="paddingL">{{this.cliente.tar}}</p>
    </ion-item>
    <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
      <p class="title titleSize">Riesgo:</p>
      <p class="paddingL">{{this.cliente.rie}}</p>
    </ion-item>
  </div>
  
  <div >
    <ion-item class="ion-text-center title titleCliente">
      <ion-label>Facturación de albaranes</ion-label>
    </ion-item>
    <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
      <p class="title titleSize">Cliente Factura:</p>
      <p class="paddingL">{{this.cliente.cli_facalb}}</p>
    </ion-item>
    <ion-item class="ion-text-center title titleCliente">
      <ion-label>Impresión de documentos</ion-label>
    </ion-item>
    <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
      <p class="title titleSize">Marcado:</p>
      <p *ngIf="this.cliente.mar=='N'; else elseBlock">NO</p>
      <ng-template #elseBlock>
        <p class="paddingL">SI</p>
      </ng-template>
    </ion-item>
    <ion-item class="ion-text-center title titleCliente titleCliente">
      <ion-label>Forma de pago habitual</ion-label>
    </ion-item>
    <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
      <p class="title titleSize">Forma pago:</p>
      <p class="paddingL">{{this.cliente.for}}</p>
    </ion-item>
    <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
      <p class="title titleSize">Días de pago:</p>
      <p class="paddingL">{{this.cliente.di1}} - {{this.cliente.di2}}</p>
    </ion-item>
    <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
      <p class="title titleSize">Días retroceso:</p>
      <p class="paddingL">{{this.cliente.di3}}</p>
    </ion-item>
    <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
      <p class="title titleSize">Mes no pago:</p>
      <p class="paddingL" *ngIf="this.cliente.mnp==0">NINGUNO</p>
      <p class="paddingL" *ngIf="this.cliente.mnp==1">ENERO</p>
      <p class="paddingL" *ngIf="this.cliente.mnp==2">FEBRERO</p>
      <p class="paddingL" *ngIf="this.cliente.mnp==3">MARZO</p>
      <p class="paddingL" *ngIf="this.cliente.mnp==4">ABRIL</p>
      <p class="paddingL" *ngIf="this.cliente.mnp==5">MAYO</p>
      <p class="paddingL" *ngIf="this.cliente.mnp==6">JUNIO</p>
      <p class="paddingL" *ngIf="this.cliente.mnp==7">JULIO</p>
      <p class="paddingL" *ngIf="this.cliente.mnp==8">AGOSTO</p>
      <p class="paddingL" *ngIf="this.cliente.mnp==9">SEPTIEMBRE</p>
      <p class="paddingL" *ngIf="this.cliente.mnp==10">OCTUBRE</p>
      <p class="paddingL" *ngIf="this.cliente.mnp==11">NOVIEMBRE</p>
      <p class="paddingL" *ngIf="this.cliente.mnp==12">DICIEMBRE</p>
    </ion-item>
    <ion-item class="ion-text-center title titleCliente">
      <ion-label>Segunda forma de pago</ion-label>
    </ion-item>
    <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
      <p class="title titleSize">Importe:</p>
      <p class="paddingL">{{this.cliente.imp}}</p>
    </ion-item>
    <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
      <p class="title titleSize">2º Forma pago:</p>
      <p class="paddingL">{{this.cliente.fo2}}</p>
    </ion-item>
    <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
      <p class="title titleSize">Días de pago:</p>
      <p class="paddingL">{{this.cliente.d1b}} - {{this.cliente.d2b}}</p>
    </ion-item>
    <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
      <p class="title titleSize">Días retroceso:</p>
      <p class="paddingL">{{this.cliente.d3b}}</p>
    </ion-item>
    <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
      <p class="title titleSize">Mes no pago:</p>
      <p class="paddingL" *ngIf="this.cliente.mnb==0">NINGUNO</p>
      <p class="paddingL" *ngIf="this.cliente.mnb==1">ENERO</p>
      <p class="paddingL" *ngIf="this.cliente.mnb==2">FEBRERO</p>
      <p class="paddingL" *ngIf="this.cliente.mnb==3">MARZO</p>
      <p class="paddingL" *ngIf="this.cliente.mnb==4">ABRIL</p>
      <p class="paddingL" *ngIf="this.cliente.mnb==5">MAYO</p>
      <p class="paddingL" *ngIf="this.cliente.mnb==6">JUNIO</p>
      <p class="paddingL" *ngIf="this.cliente.mnb==7">JULIO</p>
      <p class="paddingL" *ngIf="this.cliente.mnb==8">AGOSTO</p>
      <p class="paddingL" *ngIf="this.cliente.mnb==9">SEPTIEMBRE</p>
      <p class="paddingL" *ngIf="this.cliente.mnb==10">OCTUBRE</p>
      <p class="paddingL" *ngIf="this.cliente.mnb==11">NOVIEMBRE</p>
      <p class="paddingL" *ngIf="this.cliente.mnb==12">DICIEMBRE</p>
    </ion-item>
    <ion-item class="ion-text-center title titleCliente">
      <ion-label>Tarifas especiales</ion-label>
    </ion-item>
    <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
      <p class="title titleSize">Artículos:</p>
      <p class="paddingL"> {{this.cliente.tar_art}}</p>
    </ion-item>
    <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
      <p class="title titleSize">Familias:</p>
      <p class="paddingL"> {{this.cliente.tar_fam}}</p>
    </ion-item>
    <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
      <p class="title titleSize">Subfamilias:</p>
      <p class="paddingL">{{this.cliente.cln_tarsub}}</p>
    </ion-item>
    <ion-item *ngIf="this.cliente != null || this.cliente != undefined">
      <p class="title titleSize">Marca:</p>
      <p class="paddingL">{{this.cliente.cln_tarmar}}</p>
    </ion-item>
  </div>

</ion-content>