<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Botón de menú -->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- Título de la página -->
    <ion-title>Datos del Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Mostrar detalles del cliente -->
  <ion-item>
    <!-- Código del cliente -->
    <p class="title titleSize">Código:</p>
    <p class="paddingL">{{this.cliente.cod}}</p>
  </ion-item>
  <ion-item>
    <!-- Nombre del cliente -->
    <p class="title titleSize">Nombre:</p>
    <p class="paddingL">{{this.cliente.nom}}</p>
  </ion-item>
  <ion-item>
    <!-- Subnombre del cliente -->
    <p class="title titleSize">Subnombre:</p>
    <div>
      <p class="paddingL">{{this.cliente.sno}}</p>
    </div>
  </ion-item>
  <ion-item>
    <!-- Dirección del cliente -->
    <p class="title titleSize">Dirección:</p>
    <p class="paddingL">{{this.cliente.dir}}</p>
  </ion-item>
  <ion-item>
    <!-- Población del cliente -->
    <p class="title titleSize">Población:</p>
    <p class="paddingL">{{this.cliente.pob}}</p>
  </ion-item>
  <ion-item>
    <!-- Provincia del cliente -->
    <p class="title titleSize">Provincia:</p>
    <p class="paddingL">{{this.cliente.npro}} - {{this.cliente.pro}}</p>
  </ion-item>
  <ion-item>
    <!-- N.I.F del cliente -->
    <p class="title titleSize">N.I.F:</p>
    <p class="paddingL">{{this.cliente.nif}}</p>
  </ion-item>
  <ion-item>
    <!-- Primer teléfono del cliente -->
    <p class="title titleSize">Teléfono 1º:</p>
    <p class="paddingL">{{this.cliente.te1}}</p>
    <ion-button [disabled]="this.valid(this.cliente.te1)" class="btn btn_margin" (click)='callNumber(this.cliente.te1)'
      slot="end">
      <ion-icon name="call-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item>
    <!-- Segundo teléfono del cliente -->
    <p class="title titleSize">Teléfono 2º:</p>
    <p class="paddingL">{{this.cliente.te2}}</p>
    <ion-button [disabled]="this.valid(this.cliente.te2)" class="btn btn_margin" (click)='callNumber(this.cliente.te2)'
      slot="end">
      <ion-icon name="call-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item>
    <!-- Móvil del cliente -->
    <p class="title titleSize">Móvil:</p>
    <p class="paddingL">{{this.cliente.mov}}</p>
    <ion-button [disabled]="this.valid(this.cliente.mov)" class="btn btn_margin" (click)='callNumber(this.cliente.mov)'
      slot="end">
      <ion-icon name="call-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item>
    <!-- Fax del cliente -->
    <p class="title titleSize">Fax:</p>
    <p class="paddingL">{{this.cliente.fax}}</p>
  </ion-item>
  <ion-item>
    <!-- Email del cliente -->
    <p class="title titleSize">E-Mail:</p>
    <ion-button [disabled]="this.valid(this.cliente.xxx)" class="btn btn_margin" (click)='mailto(this.cliente.xxx)'
      slot="end">
      <ion-icon name="mail-outline"></ion-icon>
    </ion-button>
    <p class="paddingL">{{this.cliente.xxx}}</p>
  </ion-item>
  <ion-item>
    <!-- Página web del cliente -->
    <p class="title titleSize">Página Web:</p>
    <p class="paddingL">{{this.cliente.web}}</p>
    <ion-button [disabled]="this.valid(this.cliente.web)" class="btn btn_margin" (click)='web(this.cliente.web)'
      slot="end">
      <ion-icon name="globe-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item>
    <!-- Actividad del cliente -->
    <p class="title titleSize">Actividad:</p>
    <div>
      <p class="paddingL">{{this.cliente.actividad}}</p>
    </div>
  </ion-item>
  <ion-item>
    <!-- Tipo de cliente -->
    <p class="title titleSize">Tipo Cliente:</p>
    <div>
      <p class="paddingL">{{this.cliente.tip_crm}}</p>
    </div>
  </ion-item>
  <ion-item>
    <!-- Fecha del tipo de cliente -->
    <p class="title titleSize">Fecha Tipo:</p>
    <div>
      <p class="paddingL">{{this.fechaTipo}}</p>
    </div>
  </ion-item>
  <ion-item>
    <!-- Observaciones del cliente -->
    <p class="title titleSize">Observaciones:</p>
    <p class="paddingL">{{this.cliente.ob1}}</p>
    <p class="paddingL">{{this.cliente.ob2}}</p>
  </ion-item>
  <!-- Sección de persona de contacto -->
  <ion-item class="ion-text-center title titleCliente">
    <ion-label>Persona De Contacto</ion-label>
  </ion-item>
  <ion-item>
    <!-- Nombre de la persona de contacto -->
    <p class="title titleSize">Nombre:</p>
    <p class="paddingL">{{this.cliente.per}}</p>
  </ion-item>
  <ion-item>
    <!-- Cargo de la persona de contacto -->
    <p class="title titleSize">Cargo:</p>
    <p class="paddingL">{{this.cliente.car}}</p>
  </ion-item>
  <ion-item>
    <!-- Teléfono de la persona de contacto -->
    <p class="title titleSize">Teléfono:</p>
    <p class="paddingL">{{this.cliente.ter}}</p>
    <ion-button [disabled]="this.valid(this.cliente.ter)" class="btn btn_margin" (click)='callNumber(this.cliente.ter)'
      slot="end">
      <ion-icon name="call-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item>
    <!-- Extensión del teléfono de la persona de contacto -->
    <p class="title titleSize">Extensión:</p>
    <p class="paddingL">{{this.cliente.ext}}</p>
  </ion-item>

  <!-- Datos comerciales del cliente -->
  <div>
    <ion-item class="ion-text-center title titleCliente">
      <ion-label>Datos Comerciales</ion-label>
    </ion-item>
    <ion-item>
      <!-- Ruta de venta -->
      <p class="title titleSize">Ruta Venta:</p>
      <p class="paddingL">{{this.cliente.rut}}</p>
    </ion-item>
    <ion-item>
      <!-- Agente de ventas -->
      <p class="title titleSize">Agente:</p>
      <p class="paddingL">{{this.cliente.age}}</p>
    </ion-item>
  </div>

  <!-- Información de impuestos -->
  <ion-item class="ion-text-center title titleCliente">
    <ion-label>Impuestos</ion-label>
  </ion-item>
  <ion-item>
    <!-- Tipo de IVA -->
    <p class="title titleSize">Tipo I.V.A:</p>
    <p class="paddingL" *ngIf="this.cliente.red=='N'">NORMAL</p>
    <p class="paddingL" *ngIf="this.cliente.red=='E'">EXENTO</p>
    <p class="paddingL" *ngIf="this.cliente.red=='S'">REDUCCIÓN</p>
  </ion-item>
  <ion-item>
    <!-- Tipo de venta -->
    <p class="title titleSize">Tipo Venta:</p>
    <p class="paddingL" *ngIf="this.cliente.ivainc=='N'">BASE IMPONIBLE + I.V.A.</p>
    <p class="paddingL" *ngIf="this.cliente.ivainc=='S'">I.V.A. INCLUIDO</p>
  </ion-item>
  <ion-item>
    <!-- Recargo de equivalencia -->
    <p class="title titleSize">Rec. Equivalen.:</p>
    <p class="paddingL" *ngIf="this.cliente.req=='N'; else elseBlock">NO</p>
    <ng-template #elseBlock>
      <p class="paddingL">SI</p>
    </ng-template>
  </ion-item>

  <!-- Configuración de la venta -->
  <div>
    <ion-item class="ion-text-center title titleCliente">
      <ion-label>Configuración de la venta</ion-label>
    </ion-item>
    <ion-item>
      <!-- Retención -->
      <p class="title titleSize">Retención:</p>
      <p class="paddingL">{{this.cliente.tre}}</p>
    </ion-item>
    <ion-item>
      <!-- Dto. PP -->
      <p class="title titleSize">Dto. PP:</p>
      <p class="paddingL">{{this.cliente.dtpp}}</p>
    </ion-item>
    <ion-item>
      <!-- Pronto Pago -->
      <p class="title titleSize">Pronto Pago:</p>
      <p class="paddingL">{{this.cliente.prp}}</p>
    </ion-item>
    <ion-item>
      <!-- Rappels -->
      <p class="title titleSize">Rappels:</p>
      <p class="paddingL">{{this.cliente.rappels}}</p>
    </ion-item>
    <ion-item>
      <!-- Riesgo máximo -->
      <p class="title titleSize">Riesgo Máximo:</p>
      <p class="paddingL">{{this.cliente.rie}}</p>
    </ion-item>
    <ion-item>
      <!-- Riesgo autorizado -->
      <p class="title titleSize">Riesgo Autorizado:</p>
      <p class="paddingL">{{this.cliente.ria}}</p>
    </ion-item>
    <ion-item>
      <!-- Días de riesgo -->
      <p class="title titleSize">Días Riesgo:</p>
      <p class="paddingL">{{this.cliente.dri}}</p>
    </ion-item>
    <ion-item>
      <!-- Carácter de riesgo -->
      <p class="title titleSize">Carácter Riesgo:</p>
      <p class="paddingL">{{this.cliente.cri}}</p>
    </ion-item>
    <ion-item>
      <!-- Antigüedad -->
      <p class="title titleSize">Antigüedad:</p>
      <p class="paddingL">{{this.cliente.ant}}</p>
    </ion-item>
  </div>
</ion-content>