<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Albaranes</ion-title>
    <ion-title size="small" (click)="goBack()" slot="end">{{this.nombre}}</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-buttons>
      <ion-searchbar #input showCancelButton="focus" debounce="500" placeholder="Buscar"></ion-searchbar>
      <ion-button style="height: 2px;">
        <div class="icon-container">
          <ion-icon style="position: relative; font-weight: bold; font-size: 1.5em;" name="funnel"></ion-icon>
          <ion-badge class="badge"></ion-badge>
        </div>
      </ion-button> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card *ngFor="let albaran of albaranes">
      <ion-item>
        <p class="title titleSize">Número: </p>
        <ion-label>{{ albaran.num }}</ion-label>
      </ion-item>
      <ion-item>
        <p class="title titleSize">Fecha: </p>
        <ion-label>{{ albaran.fec2 }}</ion-label>
      </ion-item>
      <ion-item>
        <p class="title titleSize">Base imponible: </p>
        <ion-label>{{ albaran.baseu }}</ion-label>
      </ion-item>
      <ion-item>
        <p class="title titleSize">Total impuestos: </p>
        <ion-label>{{ albaran.totimpu }}</ion-label>
      </ion-item>
      <ion-item>
        <p class="title titleSize">Total factura: </p>
        <ion-label>{{ albaran.rutapdf }}</ion-label>
      </ion-item>
      <ion-item>
        <p class="title titleSize">Importe cobrado: </p>
        <ion-label>{{ albaran.cobeu }}</ion-label>
      </ion-item>
      <ion-item>
        <p class="title titleSize">Importe pendiente: </p>
        <ion-label>{{ albaran.impend }}</ion-label>
      </ion-item>
      <ion-item>
        <p class="title titleSize">Total: </p>
        <ion-label>{{ albaran.toteu }}</ion-label>
      </ion-item>
      <ion-item>
        <p class="title titleSize">PDF: </p>
        <ion-label>{{ albaran.pdf }}</ion-label>
      </ion-item>
      <ion-item>
        <p class="title titleSize">Estado: </p>
        <ion-label>{{ albaran.est }}</ion-label>
      </ion-item>
      <ion-item>
        <p class="title titleSize">Facturado: </p>
        <ion-label>{{ albaran.fac }}</ion-label>
      </ion-item>

      <!-- solo en el proveedor
      <ion-item>
        <p class="title titleSize">N° : </p>
        <ion-label>{{ albaran.numpro }}</ion-label>
      </ion-item>
      -->
      <ion-item>
        <p class="title titleSize">Número factura: </p>
        <ion-label>{{ albaran.n_f }}</ion-label>
      </ion-item>
    </ion-card>
  </ion-list>

  @if(hayMasAlbaranes){
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content loadingText="Cargando Clientes..."
        loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    }
</ion-content>
