/* Estilos para los divisores */
.divider {
    font-size: larger;
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.divider::before,
.divider::after {
    flex: 1;
    content: '';
    padding: 1px;
    background-color: #6d226d;
    margin: 7px;
    border-radius: 15px;
}

/* Estilos para el grid */
ion-grid {
    --ion-grid-column-padding: 10px;
    border-collapse: collapse;
    border-style: hidden;

    ion-col {
        text-align: center;
        font-size: larger;
        color: black;
        margin: 1px;
        border-radius: 5px;
    }

    /* Estilos específicos para diferentes tipos de filas */
    .row_icon ion-col {
        border: none;
    }

    .row_icon ion-col ion-icon {
        font-size: 100px;
        color: #6d226d;
    }

    /* Otras clases de filas */
    .row_separador ion-col {
        color: white !important;
        background-color: black;
    }

    .row_titulos ion-col {
        color: white !important;
        background-color: #6d226d;
    }

    /* Clases para fondos de diferentes colores */
    .rowBackgroundRed ion-col {
        color: white !important;
        background-color: red;
    }

    .rowBackgroundGray ion-col {
        color: white !important;
        background-color: gray;
    }

    .rowBackgroundGreen ion-col {
        color: white !important;
        background-color: #73DF67;
    }

    .rowBackgroundOrange ion-col {
        color: white !important;
        background-color: #EB612F;
    }

    .rowBackgroundCian ion-col {
        color: white !important;
        background-color: #50BEF3;
    }

}

/* Estilos para las tarjetas */
.cardBorder {
    border: 1px solid gray;
}

/* Estilos para el footer */
.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}

.total {
    flex: 1;
    text-align: left;
    font-weight: bold;
}

.variable {
    flex: 1;
    text-align: right;
}

/* Estilos en modo oscuro */
@media (prefers-color-scheme: dark) {
    /* Estilos para los divisores en modo oscuro */
    .divider {
        font-size: larger;
        color: white;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .divider::before,
    .divider::after {
        flex: 1;
        content: '';
        padding: 1px;
        background-color: #6d226d;
        margin: 7px;
        border-radius: 15px;
    }

    /* Estilos para el grid en modo oscuro */
    ion-grid {
        --ion-grid-column-padding: 10px;
        border-collapse: collapse;
        border-style: hidden;

        ion-col {
            text-align: center;
            font-size: larger;
            color: white;
            margin: 1px;
            border-radius: 5px;
        }

        /* Estilos específicos para diferentes tipos de filas en modo oscuro */
        .row_icon ion-col {
            border: none;
        }

        .row_icon ion-col ion-icon {
            font-size: 100px;
            color: #6d226d;
        }

        /* Otras clases de filas en modo oscuro */
        .row_separador ion-col {
            color: white !important;
            background-color: black;
        }

        .row_titulos ion-col {
            color: white !important;
            background-color: #6d226d;
        }

        /* Clases para fondos de diferentes colores en modo oscuro */
        .rowBackgroundRed ion-col {
            color: white !important;
            background-color: red;
        }

        .rowBackgroundGray ion-col {
            color: white !important;
            background-color: gray;
        }

        .rowBackgroundGreen ion-col {
            color: white !important;
            background-color: #73DF67;
        }

        .rowBackgroundOrange ion-col {
            color: white !important;
            background-color: #EB612F;
        }

        .rowBackgroundCian ion-col {
            color: white !important;
            background-color: #50BEF3;
        }

    }

    /* Estilos para el footer en modo oscuro */
    .footer-content {
        display: flex;
        justify-content: space-between;
        padding: 0 16px;
    }

    .total {
        flex: 1;
        text-align: left;
        font-weight: bold;
    }

    .variable {
        flex: 1;
        text-align: right;
    }
}