<ion-header [translucent]="true"> <!-- Encabezado transparente -->
  <ion-toolbar> <!-- Barra de herramientas -->
    <ion-buttons slot="start"> <!-- Botones de la izquierda -->
      <ion-menu-button></ion-menu-button> <!-- Botón de menú -->
    </ion-buttons>
    <ion-title>Listado Albaranes</ion-title> <!-- Título de la página -->
    <ion-title size="small" (click)="goBack()" slot="end">{{this.nombre}}</ion-title> <!-- Título pequeño en el lado derecho, con un evento click que llama a la función goBack() -->

  </ion-toolbar>
  <ion-toolbar> <!-- Segunda barra de herramientas -->
    <ion-buttons> <!-- Botones -->
      <ion-searchbar #input showCancelButton="focus" debounce="500" (ionInput)="this.filtrarAlbaranes($event)"
        placeholder="Buscar"></ion-searchbar> <!-- Barra de búsqueda con configuraciones -->
      <ion-button style="height: 2px;" (click)="presentPopover($event)"> <!-- Botón con popover -->
        <div class="icon-container">
          <ion-icon style="position: relative; font-weight: bold; font-size: 1.5em;" name="funnel"></ion-icon> <!-- Icono de embudo -->
          <ion-badge *ngIf="this.filtros.nFiltrosAplicados > 0 "
            class="badge">{{this.filtros.nFiltrosAplicados}}</ion-badge> <!-- Distintivo con el número de filtros aplicados -->
        </div>
      </ion-button>
    </ion-buttons>
    <ion-progress-bar *ngIf="this.consultaRealizada == false" type="indeterminate"></ion-progress-bar> <!-- Barra de progreso indeterminado que se muestra mientras se realiza una consulta -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <!-- Contenido de la página -->
  <div *ngIf="this.tipo == 'cliente' && this.albaranesCliente.length > 0 " > <!-- Div que muestra un mensaje si es un cliente y hay albaranes -->
    <div class="noHayDatos" *ngIf="this.albaranesCliente.length == 0">No hay albaranes de venta para mostrar</div> <!-- Mensaje si no hay albaranes de venta -->
  </div>
  <div *ngIf="this.tipo == 'proveedor'"> <!-- Div que muestra un mensaje si es un proveedor -->
    <div class="noHayDatos" *ngIf="this.albaranesProveedor.length == 0">No hay albaranes de compra para mostrar</div> <!-- Mensaje si no hay albaranes de compra -->
  </div>
  <ion-list *ngIf="this.tipo == 'cliente'"> <!-- Lista de albaranes para clientes -->
    
    <ion-card *ngFor="let albaran of this.albaranesCliente" class="cardBorder"> <!-- Tarjeta para cada albarán del cliente -->

      <!-- Datos del albarán -->
      <ion-grid [fixed]="true">
        <ion-row class="row_icon">
          <ion-col>
            <ion-icon src="assets/imgs/delivery-note.svg" /> <!-- Icono de nota de entrega -->
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="divider">DATOS ALBARÁN</div>
      <ion-grid [fixed]="true">
        <ion-row class="row_titulos">
          <ion-col>Nº Albarán</ion-col>          
          <ion-col>Fecha</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>{{albaran.num}}</ion-col>          
          <ion-col>{{albaran.fec2}}</ion-col>
        </ion-row>
        <ion-row  *ngIf="albaran.fac == '1'" class="row_titulos">
          <ion-col>Nº Factura.</ion-col>
        </ion-row>
        <ion-row  *ngIf="albaran.fac == '1'" class="{{this.comprobarAlbaranNofacturable(albaran)}}">
          <ion-col>{{albaran.n_f}}</ion-col>          
        </ion-row>
      </ion-grid>
      

      <!-- Importes del albarán -->
      <div class="divider">IMPORTES</div>
      <ion-grid [fixed]="true">
        <ion-row class="row_titulos">
          <ion-col>Base Imp.</ion-col>
          <ion-col>Impuestos</ion-col>
          <ion-col>Total</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>{{this.formatearNumero(albaran.baseu)}}€</ion-col>
          <ion-col>{{this.formatearNumero(albaran.totimpu)}}€</ion-col>
          <ion-col>{{this.formatearNumero(albaran.toteu)}}€</ion-col>
        </ion-row>
        <ion-row class="row_titulos">
          <ion-col>Cobrado</ion-col>
          <ion-col>Pendiente</ion-col>
        </ion-row>
        <ion-row class="{{this.comprobarAlbaran(albaran)}}">
          <ion-col>{{this.formatearNumero(albaran.cobeu)}}€</ion-col>
          <ion-col>{{this.formatearNumero(albaran.impend)}}€</ion-col>
        </ion-row>
      </ion-grid>      

    </ion-card>

  </ion-list>


  <ion-list *ngIf="this.tipo == 'proveedor' && this.albaranesProveedor.length > 0"> <!-- Lista de albaranes para proveedores -->

    <ion-card *ngFor="let albaran of this.albaranesProveedor" class="cardBorder"> <!-- Tarjeta para cada albarán del proveedor -->

      <!-- Datos del albarán -->
      <ion-grid [fixed]="true">
        <ion-row class="row_icon">
          <ion-col>
            <ion-icon src="assets/imgs/delivery-note.svg" /> <!-- Icono de nota de entrega -->
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="divider">DATOS ALBARÁN</div>
      <ion-grid [fixed]="true">
        <ion-row class="row_titulos">
          <ion-col>Nº Albarán</ion-col>
          <ion-col>Nº Alb. Proveedor</ion-col>
          <ion-col>Fecha</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>{{albaran.num}}</ion-col>
          <ion-col>{{albaran.numpro}}</ion-col>
          <ion-col>{{albaran.fec2}}</ion-col>
        </ion-row>
        <ion-row  *ngIf="albaran.fac == '1'" class="row_titulos">
          <ion-col>Nº Factura.</ion-col>
        </ion-row>
        <ion-row  *ngIf="albaran.fac == '1'" class="{{this.comprobarAlbaranNofacturable(albaran)}}">
          <ion-col>{{albaran.n_f}}</ion-col>          
        </ion-row>
      </ion-grid>
      

      <!-- Importes del albarán -->
      <div class="divider">IMPORTES</div>
      <ion-grid [fixed]="true">
        <ion-row class="row_titulos">
          <ion-col>Base Imp.</ion-col>
          <ion-col>Impuestos</ion-col>
          <ion-col>Total</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>{{this.formatearNumero(albaran.baseu)}}€</ion-col>
          <ion-col>{{this.formatearNumero(albaran.totimpu)}}€</ion-col>
          <ion-col>{{this.formatearNumero(albaran.toteu)}}€</ion-col>
        </ion-row>
        <ion-row class="row_titulos">
          <ion-col>Cobrado</ion-col>
          <ion-col>Pendiente</ion-col>
        </ion-row>
        <ion-row class="{{this.comprobarAlbaran(albaran)}}">
          <ion-col>{{this.formatearNumero(albaran.cobeu)}}€</ion-col>
          <ion-col>{{this.formatearNumero(albaran.impend)}}€</ion-col>
        </ion-row>
      </ion-grid>      

    </ion-card>

  </ion-list>
  @if(hayMasAlbaranes){ <!-- Renderizado condicional si hay más albaranes -->
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)"> <!-- Scroll infinito -->
    <ion-infinite-scroll-content loadingText="Cargando Albaranes..."
      loadingSpinner="bubbles"></ion-infinite-scroll-content> <!-- Contenido del scroll infinito -->
  </ion-infinite-scroll>
  }

</ion-content>

<ion-footer> <!-- Pie de página -->
  <ion-toolbar style="border-top:1px solid gray"> <!-- Barra de herramientas -->
    <ion-title>Total: {{this.formatearNumero(this.importeAlbaranes)}}€</ion-title> <!-- Título con el total de importes de albaranes -->
  </ion-toolbar>
</ion-footer>