<ion-header [translucent]="true">
  <!-- Encabezado de la página -->
  <ion-toolbar>
    <!-- Barra de herramientas con título -->
    <ion-title>ajustes</ion-title>
    <!-- Título de la página -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Contenido de la página -->
  <ion-header collapse="condense">
    <!-- Encabezado colapsable -->
    <ion-toolbar>
      <!-- Barra de herramientas en el encabezado colapsable -->
      <ion-title size="large">ajustes</ion-title>
      <!-- Título grande del encabezado colapsable -->
    </ion-toolbar>
  </ion-header>
</ion-content>
