<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="padding-left:0 ;">Direcciones</ion-title>
    <ion-title size="small" (click)="goBack()" slot="end">{{this.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card *ngFor="let direccion of this.direcciones" class="cardBorderGray">
      <ion-item>
        <ion-card-header>
          <ion-card-title>Denominación: {{direccion.den}}</ion-card-title>
        </ion-card-header>
      </ion-item>
      <ion-item>Dirección: {{direccion.dir}}</ion-item>
      <ion-item>Población: {{direccion.pob}}</ion-item>
      <ion-item>Provincia: {{direccion.npro}} - {{direccion.pro}}</ion-item>
      <ion-item>
        <p class="title titleSize">Teléfono:</p>
        <p class="paddingL">{{direccion.tel}}</p>
        <ion-button size="" [disabled]="this.valid(direccion.tel)" class="btn btn_margin"
          (click)='callNumber(direccion.tel)' slot="end">
          <ion-icon name="call-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>Ruta de venta: {{direccion.rut}} - {{direccion.nomrut}}</ion-item>
      <ion-item>Persona de contacto: {{direccion.per}}</ion-item>
      <ion-item>
        <p class="title titleSize">E-Mail:</p>
        <ion-button size="" [disabled]="this.valid(direccion.email)" class="btn btn_margin"
          (click)='mailto(direccion.email)' slot="end">
          <ion-icon name="mail-outline"></ion-icon>
        </ion-button>
        <p class="paddingL">{{direccion.email}}</p>
      </ion-item>
      
    </ion-card>
  </ion-list>
</ion-content>