<!-- Encabezado de la página con una barra de herramientas translúcida -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Contenedor personalizado para el encabezado -->
    <div class="custom-header">
      <!-- Imagen del logotipo y nombre de la aplicación -->
      <img src="assets/imgs/logoYNombre.png">
    </div>
  </ion-toolbar>
</ion-header>

<!-- Contenido principal de la página con padding -->
<ion-content class="ion-padding">
  <!-- Contenedor principal de la tarjeta -->
  <div class="div-main">
    <!-- Tarjeta que contiene el formulario de inicio de sesión -->
    <ion-card>
      <!-- Encabezado de la tarjeta -->
      <ion-card-header>
        <!-- Título de bienvenida dentro del encabezado de la tarjeta -->
        <h2 class="title">Bienvenido de nuevo</h2>
      </ion-card-header>

      <!-- Contenido de la tarjeta -->
      <ion-card-content>
        <!-- Primer campo de entrada para el email -->
        <div class="div-content">
          <!-- Etiqueta del campo email -->
          <ion-label class="label" position="floating">Email:</ion-label>
          <!-- Campo de entrada para el email -->
          <ion-input class="input" type="email"></ion-input>
        </div>
        <br>
        <!-- Segundo campo de entrada para la contraseña -->
        <div class="div-content">
          <!-- Etiqueta del campo contraseña -->
          <ion-label class="label" position="floating">Contraseña:</ion-label>
          <!-- Campo de entrada para la contraseña -->
          <ion-input class="input" type="password"></ion-input>
        </div>
      </ion-card-content>

      <!-- Botón de inicio de sesión -->
      <ion-button class="button" expand="block" (click)="login()">Iniciar sesión</ion-button>
    </ion-card>
  </div>
</ion-content>