<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contactos</ion-title>
    <ion-buttons slot="end" (click)="navigateToClienteDetails(contactos)">
      <ion-label>{{ this.nombre }}</ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card *ngFor="let contacto of contactos">
      <ion-card-header>
        <ion-title>{{ contacto.nom }}</ion-title>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>