<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu (ionWillOpen)="this.openMenu()" (ionWillClose)="this.closeMenu()" contentId="main-content" type="overlay">
      <ion-content>

        <ion-list id="inbox-list">
          <ion-list-header>Innovate</ion-list-header>          
          <ion-item-divider>
            <ion-label> Maestros </ion-label>
          </ion-item-divider>
          <ion-menu-toggle auto-hide="false" *ngFor="let opcion of opcionesMenu; let i = index">
            
            <ion-item class="colorItemMenu item-inner" routerDirection="root" [routerLink]="[opcion.url]" (click)="this.setRuta(opcion.url)" routerLinkActive="selected">
              <ion-icon class="colorico" slot="start" [ios]="opcion.icon" [md]="opcion.icon" [src]="opcion.icon"></ion-icon>
              <ion-label style="overflow: unset; ">{{ opcion.title }}</ion-label>              
            </ion-item>
                        
          </ion-menu-toggle>
          <div *ngIf="this.mostrarOpcionesCliente">
            <ion-item-divider>
              <ion-label> Informes </ion-label>
            </ion-item-divider>
            <ion-menu-toggle auto-hide="false" *ngFor="let opcion of opcionesClientes; let i = index">
  
              <ion-item class="colorItemMenu item-inner" routerDirection="root" [routerLink]="[opcion.url]" routerLinkActive="selected">
                <ion-icon class="colorico" slot="start" [ios]="opcion.icon" [md]="opcion.icon" [src]="opcion.icon"></ion-icon>
                <ion-label style="overflow: unset; ">{{ opcion.title }}</ion-label>              
              </ion-item>
                          
            </ion-menu-toggle>
          </div>

          <div *ngIf="this.mostrarOpcionesProveedor">
            <ion-item-divider>
              <ion-label> Informes </ion-label>
            </ion-item-divider>
            <ion-menu-toggle auto-hide="false" *ngFor="let opcion of opcionesProveedores; let i = index">
  
              <ion-item class="colorItemMenu item-inner" routerDirection="root" [routerLink]="[opcion.url]" routerLinkActive="selected">
                <ion-icon class="colorico" slot="start" [ios]="opcion.icon" [md]="opcion.icon" [src]="opcion.icon"></ion-icon>
                <ion-label style="overflow: unset; ">{{ opcion.title }}</ion-label>              
              </ion-item>
                          
            </ion-menu-toggle>
          </div>

        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
