<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img style="height: 50%; width: 50%;" src="../../../assets/imgs/logoYNombre.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <div *ngFor="let opcion of opcionesVentanaPrincipal">
      <ion-card (click)="this.abrirModal(opcion.id, opcion.nombre, opcion.tipoGrafica)" *ngIf="opcion.mostrar" class="{{opcion.clase}}">
        <ion-card-header>
          <div style="width: 100%; vertical-align: middle;">
            <div class="ion-float-left" style="padding-right: 2%;">
              <ion-icon [src]="opcion.icono" style="font-size: 150%; color: white;"></ion-icon>
            </div>
            <div class="ion-float-left">
              <ion-card-title style="color: white; font-weight: bold;">{{opcion.nombre}}</ion-card-title>
            </div>
          </div>
        </ion-card-header>
        <ion-card-content>
          <div class="{{opcion.posicionTexto}}">
            <h2 style="font-size: xx-large; font-weight: bold; color: white;">{{opcion.datos}} @if(opcion.tipo =='moneda'){€}</h2>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="download-outline"></ion-icon>
      </ion-fab-button>      
      <ion-fab-button>
        <ion-icon name="settings-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>