<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="custom-header">
      <img src="assets/icons/logoYNombre.png">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="ion-text-center ion-align-items-center">
    <div class="ion-text-center ion-align-items-center">
      <ion-button size="large" class="mt-3 custom-button ion-color-primary">
        <div>
          <ion-card-header>
            <ion-icon name="people" style="font-size: 2rem;"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <ion-label style="font-size: 1.6rem;">Clientes</ion-label>
          </ion-card-content>
        </div>
      </ion-button>
    </div>

    <ion-button size="large" class="mt-3 custom-button ion-color-primary">
      <div>
        <ion-card-header>
          <ion-icon name="people" style="font-size: 2rem;"></ion-icon>
        </ion-card-header>
        <ion-card-content>
          <ion-label style="font-size: 1rem;">Proveedores</ion-label>
        </ion-card-content>
      </div>
    </ion-button>
  </div>
</ion-content>



