<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Clientes</ion-title>
    <ion-buttons slot="end">
      <ion-button style="height: 2px;" (click)="mostrarBusqueda = !mostrarBusqueda">
        <ion-icon style="position: relative; font-weight: bold; font-size: 1.5em;" name="search"></ion-icon>
      </ion-button>
      <ion-button style="height: 2px;" (click)="presentPopover($event)">
        <div class="icon-container">
          <ion-icon style="position: relative; font-weight: bold; font-size: 1.5em;" name="funnel"></ion-icon>
          <ion-badge *ngIf="this.filtros.nFiltrosAplicados > 0 " class="badge">{{this.filtros.nFiltrosAplicados}}</ion-badge>
        </div>
      </ion-button>
    </ion-buttons>
    <ion-progress-bar *ngIf="this.consultaRealizada == false" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
  <ion-toolbar *ngIf="!mostrarBusqueda">
    <ion-searchbar #input showCancelButton="focus" debounce="500" (ionInput)="this.filtrarClientes($event)"
      placeholder="Buscar"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>

    <ion-card *ngFor="let cliente of this.clientes"
      [ngClass]="this.comprobarDiferencia(cliente)==true ? 'cardBorderRed':'cardBorderGray' ">
      <ion-item [routerLink]="['/vista-cliente/'+cliente.cod]" routerLinkActive="selected">
        <ion-card-header>
          <ion-card-title>{{cliente.nom}}</ion-card-title>
          <ion-card-subtitle style="color: gray;">{{cliente.cod}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>

        </ion-card-content>
      </ion-item>
      <ion-item>
        <ion-icon *ngIf="this.comprobarDiferencia(cliente)==true" name="alert-circle" color="danger"></ion-icon>
        <ion-icon slot="end" name="eye-outline"></ion-icon>
      </ion-item>
    </ion-card>

  </ion-list>
  @if(hayMasClientes){
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content loadingText="Cargando Clientes..."
      loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  }
</ion-content>