<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-button size="large" class="btn" shape="round" (click)="this.exit()">
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </ion-button>
      <ion-title>Datos Bancarios</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <p class="title titleSize">Habitual:</p>
    <ion-item *ngIf="this.banco.hab=='S'">
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-item>
  </ion-item>
  <ion-item>
    <p class="title titleSize">Banco:</p>
    <p class="paddingL">{{this.banco.nom}}</p>
  </ion-item>
  <ion-item>
    <p class="title titleSize">Cuenta:</p>
    <p class="paddingL">{{this.banco.cu1}}/{{this.banco.cu2}}/{{this.banco.cu3}}/{{this.banco.cu4}}</p>
  </ion-item>
  <ion-item>
    <p class="title titleSize">IBAN:</p>
    <p class="paddingL">{{this.banco.iban}}</p>
  </ion-item>
  <ion-item>
    <p class="title titleSize">SWIFT/BIC:</p>
    <p class="paddingL">{{this.banco.bic}}</p>
  </ion-item>
</ion-content>