<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Rentabilidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Importe compras:</ion-card-title>
      <p class="paddingL">{{this.formatearNumero(rentabilidad.impcom)}}€</p>
    </ion-card-header>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Importe ventas:</ion-card-title>
      <p class="paddingL">{{this.formatearNumero(rentabilidad.impven)}}€</p>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Beneficios:</ion-card-title>
      <p class="paddingL">{{this.formatearNumero(rentabilidad.benefi)}}€</p>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>% Sobre la venta:</ion-card-title>
      <p class="paddingL">{{this.formatearNumero(rentabilidad.besove)}}€</p>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>% Sobre la compra:</ion-card-title>
      <p class="paddingL">{{this.formatearNumero(rentabilidad.besoco)}}€</p>
    </ion-card-header>
  </ion-card>
</ion-content>