<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Listado Pedidos</ion-title>
    <ion-title size="small" (click)="goBack()" slot="end">{{this.nombre}}</ion-title>

  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons>
      <ion-searchbar #input showCancelButton="focus" debounce="500" (ionInput)="this.filtrarPedidos($event)"
        placeholder="Buscar"></ion-searchbar>
      <ion-button style="height: 2px;" (click)="presentPopover($event)">
        <div class="icon-container">
          <ion-icon style="position: relative; font-weight: bold; font-size: 1.5em;" name="funnel"></ion-icon>
          <ion-badge *ngIf="this.filtros.nFiltrosAplicados > 0 "
            class="badge">{{this.filtros.nFiltrosAplicados}}</ion-badge>
        </div>
      </ion-button>
    </ion-buttons>
    <ion-progress-bar *ngIf="this.consultaRealizada == false" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>

    <ion-card *ngFor="let pedido of this.pedidos" class="cardBorder">

      <ion-grid [fixed]="true">
        <ion-row class="row_icon">
          <ion-col>
            <ion-icon src="assets/imgs/caja.svg" />
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="divider">DATOS PEDIDO</div>
      <ion-grid [fixed]="true">
        <ion-row class="row_titulos">
          <ion-col>Nº Pedido</ion-col>          
          <ion-col>Fecha</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>{{pedido.num}}</ion-col>
          <ion-col>{{pedido.fec2}}</ion-col>
        </ion-row>
        <ion-row class="row_titulos" *ngIf="pedido.est != ''">
          <ion-col>Estado</ion-col>
        </ion-row>
        <ion-row *ngIf="pedido.est != ''">
          <ion-col>{{pedido.est}}</ion-col>
        </ion-row>
        <ion-row class="row_titulos" *ngIf="pedido.aof != ''">
          <ion-col>{{pedido.tipdoc}}</ion-col>
        </ion-row>
        <ion-row *ngIf="pedido.aof != ''" class="{{this.comprobarServido(pedido)}}">
          <ion-col>{{pedido.doc}}</ion-col>
        </ion-row>
      </ion-grid>

      <div class="divider">IMPORTES</div>
      <ion-grid [fixed]="true">
        <ion-row class="row_titulos">
          <ion-col>Base Imp.</ion-col>
          <ion-col>Impuestos</ion-col>
          <ion-col>Total</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>{{this.formatearNumero(pedido.baseu)}}€</ion-col>
          <ion-col>{{this.formatearNumero(pedido.totimpu)}}€</ion-col>
          <ion-col>{{this.formatearNumero(pedido.toteu)}}€</ion-col>
        </ion-row>        
      </ion-grid>
      
    </ion-card>

  </ion-list>
  @if(hayMasPedidos){
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content loadingText="Cargando Pedidos..."
      loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  }

</ion-content>

<ion-footer>
  <ion-toolbar style="border-top:1px solid gray">
    <ion-title>Total: {{this.formatearNumero(this.importePedidos)}}€</ion-title>
  </ion-toolbar>
</ion-footer>