<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pedidos</ion-title>
    <ion-buttons slot="end" (click)="goBack()">
      <ion-label>{{ this.nombre }}</ion-label>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-buttons>
      <ion-searchbar #input showCancelButton="focus" debounce="500" placeholder="Buscar"></ion-searchbar>
      <ion-button style="height: 2px;">
        <div class="icon-container">
          <ion-icon style="position: relative; font-weight: bold; font-size: 1.5em;" name="funnel"></ion-icon>
          <ion-badge class="badge"></ion-badge>
        </div>
      </ion-button> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card *ngFor="let pedido of pedido">
      <ion-item>
        <p class="title titleSize">Número: </p>
        <ion-label>{{ pedido.num }}</ion-label>
      </ion-item>
      <ion-item>
        <p class="title titleSize">Fecha: </p>
        <ion-label>{{ pedido.fec2 }}</ion-label>
      </ion-item>
      <ion-item>
        <p class="title titleSize">Base imponible: </p>
        <ion-label>{{ pedido.baseu }}</ion-label>
      </ion-item>
      <ion-item>
        <p class="title titleSize">Estado: </p>
        <ion-label>{{ pedido.est }}</ion-label>
      </ion-item>
      <ion-item>
        <p class="title titleSize">Documento: </p>
        <ion-label>{{ pedido.doc }}</ion-label>
      </ion-item>
      <ion-item>
        <p class="title titleSize">Total: </p>
        <ion-label>{{ pedido.toteu }}</ion-label>
      </ion-item>
      <ion-item>
        <p class="title titleSize">Total impuestos: </p>
        <ion-label>{{ pedido.totimpu }}</ion-label>
      </ion-item>
      <ion-item>
        <p class="title titleSize">PDF: </p>
        <ion-label>{{ pedido.pdf }}</ion-label>
      </ion-item>
      <ion-item>
        <p class="title titleSize">Total albaran: </p>
        <ion-label>{{ pedido.rutapdf }}</ion-label>
      </ion-item>
    </ion-card>
  </ion-list>

  @if(hayMasPedidos){
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content loadingText="Cargando Clientes..."
        loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    }
</ion-content>