<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="ion-text-center">
        <img src="assets/icons/logoYNombre.png" alt="Logo">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-text-center">
    <ion-card>
      <ion-card-header>
        <ion-icon name="people"></ion-icon>
        <ion-card-title>Clientes</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-icon name="logo-ionic"></ion-icon>
        <ion-card-title>Proveedores</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
