<ion-list>
  <ion-item-divider>Operaciones recientes</ion-item-divider>
  <!-- Checkbox para filtrar por operaciones con actividad -->
  <ion-item>
    <ion-checkbox slot="start" [(ngModel)]="checkConActividad" (ionChange)="controladorCheckConActividad($event)">Con Actividad</ion-checkbox>
  </ion-item>
  <!-- Checkbox para filtrar por operaciones sin actividad -->
  <ion-item>
    <ion-checkbox slot="start" [(ngModel)]="checkSinActividad" (ionChange)="controladorCheckSinActividad($event)">Sin Actividad</ion-checkbox>
  </ion-item>
</ion-list>
<!-- Botón para aplicar los filtros seleccionados -->
<ion-button (click)="aplicarFiltros()" expand="block" class="btn">Aplicar</ion-button>
