<ion-list>
  <!-- Divider para la serie del documento -->
  <ion-item-divider *ngIf="this.series.length > 1">Serie documento</ion-item-divider>
  <!-- Selector de serie -->
  <ion-item *ngIf="this.series.length > 1">
    <ion-select cancelText="Cancelar" okText="Ok" placeholder="selecciona" [(ngModel)]="filtros.serie"
      (ionChange)="controladorSelectSerie($event)" >
      <ion-select-option *ngFor="let serie of series" [value]="serie.serie">{{serie.serie}}</ion-select-option>      
    </ion-select>
  </ion-item>
  <!-- Divider para el estado de servido -->
  <ion-item-divider>Servido</ion-item-divider>
  <!-- Selector de estado de servido -->
  <ion-item>
    <ion-select cancelText="Cancelar" okText="Ok" placeholder="selecciona" [(ngModel)]="filtros.servido"
      (ionChange)="controladorSelectServido($event)">
      <ion-select-option value="Todos">Todos</ion-select-option>
      <ion-select-option value="">Sin servir</ion-select-option>
      <ion-select-option value="1">Parcialmente servido</ion-select-option>
      <ion-select-option value="2">Servido</ion-select-option>
    </ion-select>
  </ion-item>  
  <!-- Divider y selector de estado específico para clientes -->
  <ion-item-divider *ngIf="this.tipo == 'cliente'">Estado</ion-item-divider>
  <ion-item *ngIf="this.tipo == 'cliente'">
    <ion-select cancelText="Cancelar" okText="Ok" placeholder="selecciona" [(ngModel)]="filtros.estado"
      (ionChange)="controladorSelectEstado($event)">
      <ion-select-option *ngFor="let estado of estados" [value]="estado.id">{{estado.des}}</ion-select-option>
    </ion-select>
  </ion-item>
  <!-- Divider para el rango de fechas -->
  <ion-item-divider>Rango de fechas</ion-item-divider>
  <!-- Desde -->
  <ion-item>    
    <div class="icon-container">
      Desde: {{formatearFecha(filtros.fechaDesde)}}
      <ion-badge *ngIf="filtros.fechaDesde !=''" class="badge_float_button">
        <ion-icon style="color:red; position: relative; font-weight: bold; font-size: 1.5em;"
          name="trash-bin" (click)="borrarFiltroFecha('desde')"></ion-icon>
      </ion-badge>
    </div>
    <ion-button size="" class="btn btn_margin" (click)="abrirModalFecha('desde')" slot="end">
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <!-- Hasta -->
  <ion-item>
    <div class="icon-container">
      Hasta: {{formatearFecha(filtros.fechaHasta)}}
      <ion-badge *ngIf="filtros.fechaHasta !=''" class="badge_float_button">
        <ion-icon style="color:red; position: relative; font-weight: bold; font-size: 1.5em;"
          name="trash-bin" (click)="borrarFiltroFecha('hasta')"></ion-icon>
      </ion-badge>
    </div>
    <ion-button size="" class="btn btn_margin" (click)="abrirModalFecha('hasta')" slot="end">
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <!-- Divider y selector de orden -->
  <ion-item-divider>Ordenar por</ion-item-divider>
  <ion-item>
    <ion-select cancelText="Cancelar" okText="Ok" placeholder="selecciona" [(ngModel)]="filtros.orden"
      (ionChange)="controladorSelectOrden($event)">
      <ion-select-option value="1">Fecha descendente</ion-select-option>
      <ion-select-option value="2">Fecha ascendente</ion-select-option>
      <ion-select-option value="3">Número descendente</ion-select-option>
      <ion-select-option value="4">Número ascendente</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>
<!-- Botón para aplicar los filtros -->
<ion-button expand="block" (click)="aplicarFiltros()" class="btn">Aplicar</ion-button>
