<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Efectos</ion-title>
    <ion-title size="small" (click)="goBack()" slot="end">{{this.nombre}}</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-buttons>
      <ion-searchbar #input showCancelButton="focus" debounce="500" (ionInput)="this.filtrarEfectos($event)" placeholder="Buscar"></ion-searchbar>
      <ion-button style="height: 2px;" (click)="presentPopover($event)">
        <div class="icon-container">
          <ion-icon style="position: relative; font-weight: bold; font-size: 1.5em;" name="funnel"></ion-icon>
          <ion-badge *ngIf="this.filtros.nFiltrosAplicados > 0" class="badge">{{this.filtros.nFiltrosAplicados}}</ion-badge>
        </div>
      </ion-button>
    </ion-buttons>
    <ion-progress-bar *ngIf="this.consultaRealizada == false" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>

    <ion-card *ngFor="let efecto of this.efectos" class="cardBorder">

      <ion-grid [fixed]="true">
        <ion-row class="row_icon">
          <ion-col>
            <ion-icon src="assets/imgs/flujo-de-efectivo.svg" />
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="divider">DATOS EFECTO</div>
      <ion-grid [fixed]="true">
        <ion-row class="row_titulos">
          <ion-col>Nº Efecto</ion-col>
          <ion-col>Nº Factura</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>{{efecto.num}}</ion-col>
          <ion-col>{{efecto.fac}}</ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid [fixed]="true">
        <ion-row class="row_titulos">
          <ion-col>Fecha</ion-col>
          <ion-col>Fecha Venc.</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>{{efecto.fec2}}</ion-col>
          <ion-col>{{efecto.vto}}</ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid [fixed]="true">
        <ion-row class="row_titulos">
          <ion-col>Estado</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>{{efecto.nomest}}</ion-col>
        </ion-row>
      </ion-grid>

      <div class="divider">IMPORTES</div>
      <ion-grid [fixed]="true">
        <ion-row class="row_titulos">
          <ion-col>Cobrado</ion-col>
          <ion-col>Pendiente</ion-col>
          <ion-col>Total</ion-col>
        </ion-row>
        <ion-row class="{{this.comprobarEfecto(efecto)}}">
          <ion-col>{{this.formatearNumero(efecto.pageu)}}€</ion-col>
          <ion-col>{{this.formatearNumero(efecto.impend)}}€</ion-col>
          <ion-col>{{this.formatearNumero(efecto.impeu)}}€</ion-col>
        </ion-row>
      </ion-grid>

      <ion-button expand="block" [routerLink]="['/vista-efecto/'+this.tipo+'/'+this.codigo+'/'+efecto.num]" routerLinkActive="selected">
        <ion-icon slot="icon-only" name="open-outline"></ion-icon>
      </ion-button>

    </ion-card>

  </ion-list>

  @if(hayMasEfectos){
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content loadingText="Cargando efectos..."
      loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  }
</ion-content>