<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Efectos</ion-title>
    <ion-title size="small" (click)="goBack()" slot="end">{{this.nombre}}</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-buttons>
      <ion-searchbar #input showCancelButton="focus" debounce="500" placeholder="Buscar"></ion-searchbar>
      <ion-button style="height: 2px;">
        <div class="icon-container">
          <ion-icon style="position: relative; font-weight: bold; font-size: 1.5em;" name="funnel"></ion-icon>
          <ion-badge class="badge"></ion-badge>
        </div>
      </ion-button> 
    </ion-buttons>
    <ion-progress-bar *ngIf="this.consultaRealizada == false" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card *ngFor="let efecto of efectos" [routerLink]="['/vista-efecto/'+this.tipo+'/'+this.codigo+'/'+efecto.num]" routerLinkActive="selected">
      <ion-item>
        <p class="title titleSize">Fecha: </p>
        <ion-label class="paddingL"> {{ efecto.fec2 }}</ion-label>
      </ion-item>
      <ion-item>
        <p class="title titleSize">Nº Factura: </p>
        <ion-label class="paddingL"> {{ efecto.fac }}</ion-label>
      </ion-item>
      <ion-item>
        <p class="title titleSize">F.Vencimiento: </p>
        <ion-label class="paddingL"> {{ efecto.vto }}</ion-label>
      </ion-item>
      <ion-item>
        <p class="title titleSize">Importe: </p>
        <ion-label class="paddingL"> {{ efecto.impeu }}</ion-label>
      </ion-item>
    </ion-card>
  </ion-list>


  @if(hayMasEfectos){
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content loadingText="Cargando efectos..."
        loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    }
</ion-content>